@using Resources;
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Robot List";

    RepoManager RM = new RepoManager();
    var searchTerm = "";
    if (!Request.QueryString["searchRobot"].IsEmpty())
    {
        //RM.robotRepository.RemoveAll();
        searchTerm = "%" + Request["searchRobot"] + "%";
        RM.GetRobotsByName(searchTerm);
    }

    else
    {
        RM.GetRobots();

    }
}
@* Vertaling Gebeuren hier ook nog voor aub :) *@

    <body>
        <form method="get">
        <div>
            <input type="text" name="SearchRobot" value="@Request.QueryString["searchRobot"]" placeholder="@Content.Search" />
            <input id="SubmitButtonAll" type="submit" value="@Content.Search"/><br />
 
            (@Content.LeaveBlank)<br />
        </div>
        </form>
        <h1>@Content.Products</h1>
       
            @foreach (var Robot in RM.robotRepository)
            {
                <div class="col-sm-3">
                    <a href="~/Menu/Robots?id=@Robot.ID">
                        <div class="well">
                            <img class="widthMax" src="~/@Robot.images[0].imageLocation" alt="Terminator">
                            <!--TODO: Assign data from the database-->
                            <div class="tile-text">
                                <h1>@Robot.name</h1>
                                <h3>@Robot.category</h3>
                            </div>
                        </div>
                    </a>
                </div>
            }
    </body>

