@{
    Layout = "~/_RobotLayout.cshtml";
    int robotId = Convert.ToInt16(Session["RobotID"]);
    DeleteItemsFromDB DeleteClass = new DeleteItemsFromDB();
    RepoManager RM = new RepoManager();
    Robot Robot = RM.GetRobotsByID(robotId);

    Validation.RequireField("RobotName", "You must enter a robot name");
    Validation.RequireField("Category", "You must enter a category");
    Validation.RequireField("DescriptionEN", "You must enter an english description");
    Validation.RequireField("DescriptionNL", "You must enter a dutch description");

    if (IsPost && WebSecurity.IsAuthenticated && Validation.IsValid()){
        if(Request.Form["editSubmit"] != null)
        {
            Robot.name = Request.Form["RobotName"];
            Robot.descriptionEnglish = Request.Form["DescriptionEN"];
            Robot.descriptionDutch = Request.Form["DescriptionNL"];
            Robot.category = Request.Form["Category"];

            if(Request.Form["ClipOne"] != "")
            {
                RobotMovie Movie = new RobotMovie("Clip", Robot.ID, Request.Form["ClipOne"], -1, RM);
                Movie.UpdateData();
            }
            if(Request.Form["ClipTwo"] != "")
            {
                //Robot.movies.Add(new RobotMovie("Clip",Robot.ID,Request.Form["ClipTwo"],-1 ,RM));
                
            }
            Robot.UpdateData();



        }
        if(Request.Form["deleteSubmit"] != null)
        {
            DeleteClass.DeleteRobotFromDB(robotId);
            Response.Redirect("~/Menu/RobotList");
        }
    }
}

<h1>Edit Robot</h1>
<p>@Html.ValidationSummary()</p>
<form method="post" enctype="multipart/form-data" action="">
    <fieldset>
        <p>
            <label for="RobotName">Robot Name:</label>
            <input type="text" name="RobotName" value="@Robot.name" placeholder="Name of the robot"/>
        </p>
        <p>
            <label for="Category">Robot Category:</label>
            <input type="text" name="Category" value="@Robot.category" placeholder="Give the robot a category for easy searching"/>
        </p>
        <p>
            <label for="ClipOne">Embedded Clip:</label>
            <p>@Robot.movies.Count</p>
            <input type="text" name="ClipOne" value="@if(Robot.movies.Count >= 1){@Robot.movies[0].location;}" placeholder="First clip for the robot"/>
        </p>
        <p>
            <label for="ClipTwo">Embedded Clip:</label>
            <input type="text" name="ClipTwo" value="@if(Robot.movies.Count >= 2){@Robot.movies[1].location;}" placeholder="Second clip for the robot"/>
        </p>
        <p>
            <label for="DescriptionEN">Description: (English)</label>
            <textarea name="DescriptionEN" placeholder="English description of the robot">@Robot.descriptionEnglish</textarea>
        </p>
        <p>
            <label for="DescriptionNL">Description: (Nederlands)</label>
            <textarea name="DescriptionNL" placeholder="Nederlandse beschrijving van de robot">@Robot.descriptionDutch</textarea>
        </p>
    </fieldset>
    <input type="submit" name="editSubmit" value="Edit"></input>
    <input type="submit" name="deleteSubmit" value="Delete"></input>
</form>