@using Resources;
@{
    Layout = "~/_RobotLayout.cshtml";
    Page.Title = "Hardware";

    var searchTerm = "";
    var db = Database.Open("Cyberdyne");
    var sql = "SELECT * FROM Components INNER JOIN ComponentList ON Components.ComponentID = ComponentList.ComponentID INNER JOIN Supplier ON Components.SupplierID = Supplier.SupplierID WHERE RobotID = @0";
    if (!Request.QueryString["searchComponentRobot"].IsEmpty())
    {
        sql = "SELECT * FROM Components INNER JOIN ComponentList ON Components.ComponentID = ComponentList.ComponentID INNER JOIN Supplier ON Components.SupplierID = Supplier.SupplierID WHERE RobotID = @0 AND (Components.ComponentNumber LIKE @1 OR Components.ComponentName LIKE @1 OR Supplier.Name LIKE @1)";
        searchTerm = "%" + Request["searchComponentRobot"] + "%";
    }
    string robotId = Session["RobotID"].ToString();


    var selectedData = db.Query(sql, robotId, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "ComponentName", rowsPerPage: 10);
}

<h1>@Page.Title</h1>
    <style type="text/css">
        .grid {margin: 4px; border-collapse: collapse; width: 95%; }
        .grid th, .grid td {border: 1px solid #C0C0C0; padding: 3px; }
        .head {background-color: #E8E8E8; color: #FFF;}
        .alt {background-color: #E8E8E8; color: #000;}
    </style>
<form method="get">
    <div>
        <input type="text" name="searchComponentRobot" value="@Request.QueryString["searchComponentRobot"]" placeholder="@Content.Search" />
        <input id="SubmitButtonAll" type="submit" value="@Content.Search" /><br />

        (@Content.LeaveBlank)<br />
    </div>
</form>
    <div class="table table-responsive">
        @if (UICulture.Equals("nl-NL"))
        {
            @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(grid.Column("ComponentName", "Naam"), grid.Column("Quantity", "Hoeveelheid"),
        grid.Column("ComponentNumber", "Artikel Nummer"), grid.Column("DescriptionNL", "Beschrijving"),
        grid.Column("Price", "Prijs (€)"), grid.Column("Name", "Leverancier"), grid.Column("Address", "Adres Leverancier"),
        grid.Column(format: @<a href="~/Menu/Admin/EditComponentRobot?ID=@item.ComponentID">Edit</a>)))
        }
else
{
            @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(grid.Column("ComponentName", "Name"), grid.Column("Quantity"),
        grid.Column("ComponentNumber", "Article Number"), grid.Column("DescriptionENG", "Description"),
        grid.Column("Price", "Price (€)"), grid.Column("Name", "Supplier"), grid.Column("Address", "Address Supplier "),
        grid.Column(format: @<a href="~/Menu/Admin/EditComponentRobot?ID=@item.ComponentID">Edit</a>)))
        }
       
        
    </div>
