@{
    Layout = "~/_RobotLayout.cshtml";
    RepoManager RM = new RepoManager();
    //List<RobotMovie> allMovies = RM.GetRobotMovies();
    string robotId = Request.QueryString["ID"];
    if (Session["RobotID"] == null || robotId != Session["RobotID"])
    {
        Session["RobotID"] = robotId;
    }

    Robot Robot = RM.GetRobotsByID(Convert.ToInt32(Session["RobotID"]));
    List<RobotMovie> clips = Robot.movies;

}
        <img class="widthMax" src="~/@Robot.images[0].imageLocation" alt="Terminator">
        <h1 class="inline">@Robot.name</h1>
        <h3 class="inline">@Robot.category</h3>
        <div>
            @if(clips.Count >= 1)
            {
                <iframe class="float-left" width="400" height="315" src="@clips[0].location"></iframe>
            }
            <p>
                @Robot.descriptionEnglish
            </p>
            @if(clips.Count >= 2)
            {
                <iframe class="float-right" width="400" height="315" src="@clips[1].location"></iframe>
            }
        </div>
    </div>