@using Resources;
@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Add Part";

    var partNumber = "";
    var partName ="";
    var supplierName ="";
    var supplierAddress ="";
    var price = "";
    var descriptionNL = "";
    var descriptionEN = "";

    Validation.RequireField("PartName", "You must enter a part name");
    Validation.RequireField("SupplierName", "You must enter a supplier name");
    Validation.RequireField("SupplierAddress", "You must enter a supplier adrress");
    Validation.RequireField("Price", "You must enter a price");
    Validation.Add("Prijs", Validator.Decimal("Price should be a Decimal"));
    Validation.RequireField("DescriptionNL", "You must enter a description");
    Validation.RequireField("DescriptionEN", "You must enter a description");
    Validation.RequireField("partNumber", "You must enter a part number");

    if(IsPost && WebSecurity.IsAuthenticated){
        partName = Request.Form["PartName"];
        partNumber = Request.Form["PartNumber"];
        supplierName = Request.Form["SupplierName"];
        supplierAddress = Request.Form["SupplierAddress"];
        price = Request.Form["Price"];
        descriptionNL = Request.Form["DescriptionNL"];
        descriptionEN = Request.Form["DescriptionEN"];
        RepoManager RM = new RepoManager();

        Supplier s = new Supplier(supplierName, supplierAddress, RM.GetSupplierIDbySuppliertName(supplierName), null);
        s.UpdateData();

        Component comp = new Component(partNumber, partName, Convert.ToDecimal(price),-1, null, -1, null, -1, s.ID);
        comp.descriptionENG = descriptionEN;
        comp.descriptionNL = descriptionNL;
        comp.UpdateData();

        Response.Redirect("~/Default.cshtml");
    }

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
    </head>
<body>
    @if (WebSecurity.IsAuthenticated)
    {
        @Html.ValidationSummary()
        <form method="post" enctype="multipart/form-data" action="">
            <fieldset>
                <p><label for="PartName">@Content.PartName</label></p>
                <input type="text" name="PartName" value="" />

                <p><label for="DescriptionNL">@Content.Description in @Content.Dutch</label></p>
                <textarea style="width: 100%" name="DescriptionNL"></textarea>


                <p><label for="DescriptionEN">@Content.Description in @Content.English</label></p>
                <textarea style="width: 100%" name="DescriptionEN"></textarea>

                <p><label for="SupplierName">@Content.SupplierName</label></p>
                <input type="text" name="SupplierName" value="" />

                <p><label for="SupplierAddress">@Content.SupplierAddress</label></p>
                <input type="text" name="SupplierAddress" value="" />

                <p><label for="Price">@Content.Price</label></p>
                <input type="text" name="Price" value="" />

                <p>
                    <label for="partNumber">@Content.ArticleNumber</label>
                    <input type="text" name="partNumber" value="" />
                </p>

                <p><input id="SubmitButtonAll" type="submit" name="buttonSubmit" value="@Content.AddPart" /></p>
            </fieldset>
        </form>
    }
    else
    {
        <p>You must be logged in to do that!</p>
    }
</body>

</html>
