@using Microsoft.Web.Helpers;
@{
    RepoManager RM = new RepoManager();
    RM.GetComponents();
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Add robot";


    var robotName = "";
    var description = "";
    var parts = "";
    var softwareLocation = "";
    //var robotVideoLocation = "";

    string[] options = new string[]{"ja", "Nee"};

    //Validation fields
    Validation.RequireField("RobotName", "You must enter a robot name");
    Validation.RequireField("Description", "You must enter a description");
    //Validation.RequireField("Parts", "You must specify the parts");
    Validation.RequireField("SoftwareLocation", "You haven't provided a software link");
    Validation.RequireField("Youtube", "You haven't provided a youtube link");

    //Check if validation is valid and a user is logged in
    //if(IsPost && Request.Files.Count >0 && Validation.IsValid() && WebSecurity.CurrentUserId == 3){
    if (IsPost && Request.Files.Count > 0 && Validation.IsValid()){
        //Create directories if they don't exist

        var dirPath = Server.MapPath("~/App_Data/UploadedFiles/");
        var imagePath = Server.MapPath("~/App_Data/Images/");

        //Moet nog toegevoegd worden aan FRONT END
        var category = "";
        var softwareName = "";
        var softwareVersion = "";
        //en Wat meer...

        Directory.CreateDirectory(dirPath);
        Directory.CreateDirectory(imagePath);


        //Initialize variables
        robotName = Request.Form["RobotName"];
        description = Request.Form["Description"];
        parts = Request.Params["Parts"];
        softwareLocation = Request.Form["SoftwareLocation"];
        //robotVideo = Request.Form["Youtube"];


        Robot Robot = new Robot(robotName, category, -1, RM);
        Robot.UpdateData();
        Robot.descriptionEnglish = description;
        Software Software = new Software(softwareName, softwareLocation, softwareVersion, Robot.ID, -1, RM);
        

        //Catch files and save them on the server
        string[] imageFormats = new string[]{".jpg", ".png", ".gif", ".jpeg"};
        var fileName = "";
        var fileSavePath = "";

        for(int i =0; i < Request.Files.Count; i++) {
            bool isImage = false;
            var uploadedFile = Request.Files[i];
            fileName = Path.GetFileName(uploadedFile.FileName);

            foreach(var item in imageFormats){
                if(fileName.Contains(item)){
                    isImage =true;
                }
            }

            if(isImage){
                fileSavePath = Server.MapPath("~/App_Data/Images/" + fileName);
                uploadedFile.SaveAs(fileSavePath);
            }
            else{
                fileSavePath = Server.MapPath("~/App_Data/UploadedFiles/" + fileName);
                uploadedFile.SaveAs(fileSavePath);
            }
        }
    }
}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
    </head>
    <body>
        @Html.ValidationSummary()
        <form method="post" enctype="multipart/form-data" action="">
            <fieldset>
                <p><label for="RobotName">Robot Name:</label>
                <input type="text" name="RobotName" value="" placeholder="name of the robot"/>
                
                <p>
                    <label for="DescriptionEN">Description: (English)</label>
                    <textarea name="DescriptionEN" placeholder="English description of the robot"></textarea>

                <p>
                    <label for="DescriptionNL">Description: (Nederlands)</label>
                    <textarea name="DescriptionNL" placeholder="Nederlandse beschrijving van de robot"></textarea>

                <p>
                    <label for="Parts">Parts:</label>
                    @*<select name="cars">
              @foreach(string option in options){
                  @:<option value="@option">@option</option>
              }
            </select>*@

                    <input type="text" name="Parts" placeholder=" Part ID's, Comma seperated" />
                    <select multiple id="SELECTOR">
                        <fieldlset>
                            <legend>Parts</legend>
                            @foreach (var Component in RM.componentRepository)
                            {
                                <option value="@Component.ID">
                                    <ul id="menu">
                                        <li>@Component.ID</li>
                                        <li>@Component.componentName</li>
                                    </ul>
                                </option>
                            }
                        </fieldlset>
                    </select>

                <p>
                    <label for="SoftwareName">Software name:</label>
                    <input type="text" name="SoftwareName" value="" placeholder="name of the software" />
                </p>
                <p>
                    <label for="SoftwareVersion">Software version:</label>
                    <input type="text" name="SoftwareVersion" value="" placeholder="version of the software"/>
                </p>

                <p><label for="SoftwareLocation">Software link:</label>
                <input type="text" name="SoftwareLocation" value="" placeholder="link to software repository"/></p>
                
                <p>
                    <label for="YoutubeName">Movie name:</label>
                    <input type="text" name="YoutubeName" value="" placeholder="name of the movie"/>
                </p>

                <p><label for="Youtube">Youtube link:</label>
                <input type="text" name="Youtube" value="" placeholder="link to the youtube video"/></p>
                
                <p><label for="Files">Files:</label></p>
                @FileUpload.GetHtml(
                    initialNumberOfFiles:1,
                    allowMoreFilesToBeAdded:true,
                    includeFormTag:false,
                    addText:"Add another file",
                    uploadText:"Upload")

                <p><label for="images">images:</label></p>
                <input type="file" name="image" value="" multiple/></p>

                <p><input type="submit" name="buttonSubmit" value="Add Robot" /></p>
            </fieldset>
        </form>
    </body>
</html>
