@using Resources;
@{
    Layout = "~/_SiteLayout.cshtml";

    var ComponentID = "";
    var ComponentName = "";
    var ComponentNumber = "";
    var DescriptionNL = "";
    var DescriptionENG = "";
    var Price = "";
    decimal PriceDec = 0;
    var SupplierName = "";
    var SupplierAddress = "";
    int SupplierID = 0;

    if(!IsPost){

        if(!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt()){
            ComponentID = Request.QueryString["ID"];
            var db = Database.Open("Cyberdyne");
            var dbCommand = "SELECT * FROM Components INNER JOIN ComponentList ON Components.ComponentID = ComponentList.ComponentID INNER JOIN Supplier ON Components.SupplierID = Supplier.SupplierID WHERE Components.ComponentID = @0";
            var row = db.QuerySingle(dbCommand, ComponentID);

            if(row != null) {
                ComponentName = row.ComponentName;
                ComponentNumber = row.ComponentNumber;
                DescriptionNL = row.DescriptionNL;
                DescriptionENG = row.DescriptionENG;
                PriceDec = row.Price;
                SupplierName = row.Name;
                SupplierAddress = row.Address;
                SupplierID = row.SupplierID;
                Price = Convert.ToString(PriceDec);
            }
            else {
                Validation.AddFormError("No component was found for this ID.");
            }
        }
        else{
            Validation.AddFormError("No Component was selected.");
        }
    }

    if(IsPost){
        Validation.RequireField("ComponentName", "You must enter a name");
        Validation.RequireField("DescriptionNL", "You must enter a description");
        Validation.RequireField("DescriptionENG", "You must enter a description");
        Validation.RequireField("Price", "You must enter a price");
        Validation.Add("Price", Validator.Decimal("Price should be a Decimal"));
        Validation.RequireField("SupplierName", "You must enter a name");
        Validation.RequireField("SupplierAddress", "You must enter an address");

        ComponentName = Request.Form["ComponentName"];
        ComponentNumber = Request.Form["ComponentNumber"];
        DescriptionNL = Request.Form["DescriptionNL"];
        DescriptionENG = Request.Form["DescriptionENG"];
        Price = Request.Form["Price"];
        SupplierName = Request.Form["SupplierName"];
        SupplierAddress = Request.Form["SupplierAddress"];
        ComponentID = Request.QueryString["ID"];

        if (Validation.IsValid()){
            RepoManager RM = new RepoManager();

            Supplier S = new Supplier(SupplierName, SupplierAddress, RM.GetSupplierIDbySuppliertName(SupplierName), RM);
            S.UpdateData();

            Component C = new Component(ComponentNumber, ComponentName, Convert.ToDecimal(Price),Convert.ToInt16(ComponentID), RM, -1, null, -1, S.ID);
            C.descriptionENG = DescriptionENG;
            C.descriptionNL = DescriptionNL;
            C.UpdateData();
        }
    }
}

<h2>@Content.EditComponent</h2>
@Html.ValidationSummary()
<form method="post">
    <p><label for="ComponentName">@Content.Name:</label>
        <input type="text" name="ComponentName" value="@ComponentName" /></p>

    <p><label for="ComponentNumber">@Content.ArticleNumber:</label>
        <input type="text" name="ComponentNumber" value="@ComponentNumber" /></p>

    <p><label for="DescriptionNL">@Content.Description (@Content.Dutch):</label>
        <input type="text" name="DescriptionNL" value="@DescriptionNL" /></p>

    <p><label for="DescriptionENG">@Content.Description: (@Content.English):</label>
        <input type="text" name="DescriptionENG" value="@DescriptionENG" /></p>

    <p><label for="Price">@Content.Price:</label>
        <input type="text" name="Price" value="@Price" /></p>

    <p><label for="SupplierName">@Content.Supplier:</label>
        <input type="text" name="SupplierName" value="@SupplierName" /></p>

    <p><label for="SupplierAddress">@Content.SupplierAddress:</label>
        <input type="text" name="SupplierAddress" value="@SupplierAddress" /></p>

    <p><input type="submit" id="SubmitButtonAll" name="buttonSubmit" value="@Content.Submit" /></p>
</form>



